@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(18, 7, 42);
    color: white;
    height: 50px;
    font-size:30px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Chivo Mono', monospace;
}
nav ul{
    list-style: none;
}
.gamecontainer{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Chivo Mono', monospace;
    height: 30vw;
    
    
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 6vw);
    grid-template-columns: repeat(3, 6vw);
    margin-top: 5vw;
    
    
}
.box{
    border: 2px solid black;
    font-size: 5vw;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: azure;
}

button {
    background-color: azure;
    border: none;
    color: black;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Chivo Mono', monospace;
}
.gameInfo{
    margin-left: 2vw;
    margin-top: 3vw;
}
.imgbox{
    display: none;
}
.bt0{
    border-top: 0px;
}
.bl0{
    border-left: 0px;
}
.bb0{
    border-bottom: 0px;
}
.br0{
    border-right: 0px;
}